cask "prbar" do
  version "__VERSION__"
  sha256 "__SHA256__"

  url "https://github.com/neural-harmonics/prbar/releases/download/v#{version}/PRBar.app.zip"
  name "PRBar"
  desc "Menubar app for GitHub pull request monitoring"
  homepage "https://github.com/neural-harmonics/prbar"
  depends_on macos: ">= :ventura"

  app "PRBar.app"
end
